.elementor-207 .elementor-element.elementor-element-3453a50{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--gap:40px 40px;--row-gap:40px;--column-gap:40px;--padding-top:069px;--padding-bottom:123px;--padding-left:40px;--padding-right:40px;}.elementor-207 .elementor-element.elementor-element-3453a50:not(.elementor-motion-effects-element-type-background), .elementor-207 .elementor-element.elementor-element-3453a50 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-01b6541 );}.elementor-207 .elementor-element.elementor-element-3453a50.e-con{--flex-grow:0;--flex-shrink:0;}.elementor-widget-heading .elementor-heading-title{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );color:var( --e-global-color-primary );}.elementor-207 .elementor-element.elementor-element-9e9bcf9{text-align:center;}.elementor-207 .elementor-element.elementor-element-9e9bcf9 .elementor-heading-title{font-family:"Syne", Sans-serif;font-size:38px;font-weight:800;color:var( --e-global-color-87f55f8 );}.elementor-widget-divider{--divider-color:var( --e-global-color-secondary );}.elementor-widget-divider .elementor-divider__text{color:var( --e-global-color-secondary );font-family:var( --e-global-typography-secondary-font-family ), Sans-serif;font-weight:var( --e-global-typography-secondary-font-weight );}.elementor-widget-divider.elementor-view-stacked .elementor-icon{background-color:var( --e-global-color-secondary );}.elementor-widget-divider.elementor-view-framed .elementor-icon, .elementor-widget-divider.elementor-view-default .elementor-icon{color:var( --e-global-color-secondary );border-color:var( --e-global-color-secondary );}.elementor-widget-divider.elementor-view-framed .elementor-icon, .elementor-widget-divider.elementor-view-default .elementor-icon svg{fill:var( --e-global-color-secondary );}.elementor-207 .elementor-element.elementor-element-1d1f756{--divider-border-style:solid;--divider-color:var( --e-global-color-87f55f8 );--divider-border-width:1px;}.elementor-207 .elementor-element.elementor-element-1d1f756 .elementor-divider-separator{width:100%;}.elementor-207 .elementor-element.elementor-element-1d1f756 .elementor-divider{padding-block-start:15px;padding-block-end:15px;}.elementor-207 .elementor-element.elementor-element-0612c70{text-align:left;}.elementor-207 .elementor-element.elementor-element-0612c70 .elementor-heading-title{font-family:"Syne", Sans-serif;font-size:30px;font-weight:700;color:var( --e-global-color-87f55f8 );}.elementor-207 .elementor-element.elementor-element-3a1e9b3{--display:flex;--min-height:450px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-widget-form .elementor-field-group > label, .elementor-widget-form .elementor-field-subgroup label{color:var( --e-global-color-text );}.elementor-widget-form .elementor-field-group > label{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-widget-form .elementor-field-type-html{color:var( --e-global-color-text );font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-widget-form .elementor-field-group .elementor-field{color:var( --e-global-color-text );}.elementor-widget-form .elementor-field-group .elementor-field, .elementor-widget-form .elementor-field-subgroup label{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-widget-form .elementor-button{font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-widget-form .e-form__buttons__wrapper__button-next{background-color:var( --e-global-color-accent );}.elementor-widget-form .elementor-button[type="submit"]{background-color:var( --e-global-color-accent );}.elementor-widget-form .e-form__buttons__wrapper__button-previous{background-color:var( --e-global-color-accent );}.elementor-widget-form .elementor-message{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-widget-form .e-form__indicators__indicator, .elementor-widget-form .e-form__indicators__indicator__label{font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-widget-form{--e-form-steps-indicator-inactive-primary-color:var( --e-global-color-text );--e-form-steps-indicator-active-primary-color:var( --e-global-color-accent );--e-form-steps-indicator-completed-primary-color:var( --e-global-color-accent );--e-form-steps-indicator-progress-color:var( --e-global-color-accent );--e-form-steps-indicator-progress-background-color:var( --e-global-color-text );--e-form-steps-indicator-progress-meter-color:var( --e-global-color-text );}.elementor-widget-form .e-form__indicators__indicator__progress__meter{font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-207 .elementor-element.elementor-element-f14cdc3{width:100%;max-width:100%;--e-form-steps-indicators-spacing:20px;--e-form-steps-indicator-padding:30px;--e-form-steps-indicator-inactive-secondary-color:#ffffff;--e-form-steps-indicator-active-secondary-color:#ffffff;--e-form-steps-divider-width:1px;--e-form-steps-divider-gap:10px;}.elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-field-group{padding-right:calc( 79px/2 );padding-left:calc( 79px/2 );margin-bottom:54px;}.elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper{margin-left:calc( -79px/2 );margin-right:calc( -79px/2 );margin-bottom:-54px;}.elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-field-group.recaptcha_v3-bottomleft, .elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-field-group.recaptcha_v3-bottomright{margin-bottom:0;}body.rtl .elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-labels-inline .elementor-field-group > label{padding-left:13px;}body:not(.rtl) .elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-labels-inline .elementor-field-group > label{padding-right:13px;}body .elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-labels-above .elementor-field-group > label{padding-bottom:13px;}.elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-field-group > label, .elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-field-subgroup label{color:var( --e-global-color-87f55f8 );}.elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-field-type-html{color:var( --e-global-color-7812264 );}.elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-field-group .elementor-field{color:var( --e-global-color-7812264 );}.elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper){background-color:#ffffff;border-width:0px 0px 0px 0px;border-radius:7px 7px 7px 7px;}.elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-field-group .elementor-select-wrapper select{background-color:#ffffff;border-width:0px 0px 0px 0px;border-radius:7px 7px 7px 7px;}.elementor-207 .elementor-element.elementor-element-f14cdc3 .e-form__buttons__wrapper__button-next{background-color:var( --e-global-color-7812264 );color:var( --e-global-color-87f55f8 );}.elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-button[type="submit"]{background-color:var( --e-global-color-7812264 );color:var( --e-global-color-87f55f8 );}.elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-button[type="submit"] svg *{fill:var( --e-global-color-87f55f8 );}.elementor-207 .elementor-element.elementor-element-f14cdc3 .e-form__buttons__wrapper__button-previous{background-color:var( --e-global-color-7812264 );color:var( --e-global-color-87f55f8 );}.elementor-207 .elementor-element.elementor-element-f14cdc3 .e-form__buttons__wrapper__button-next:hover{background-color:var( --e-global-color-primary );color:var( --e-global-color-87f55f8 );}.elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-button[type="submit"]:hover{background-color:var( --e-global-color-primary );color:var( --e-global-color-87f55f8 );}.elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-button[type="submit"]:hover svg *{fill:var( --e-global-color-87f55f8 );}.elementor-207 .elementor-element.elementor-element-f14cdc3 .e-form__buttons__wrapper__button-previous:hover{background-color:var( --e-global-color-primary );color:var( --e-global-color-87f55f8 );}.elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-message.elementor-message-success{color:var( --e-global-color-87f55f8 );}.elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-message.elementor-message-danger{color:var( --e-global-color-7812264 );}.elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-message.elementor-help-inline{color:var( --e-global-color-7812264 );}:root{--page-title-display:none;}@media(max-width:767px){.elementor-207 .elementor-element.elementor-element-9e9bcf9 .elementor-heading-title{font-size:22px;}.elementor-207 .elementor-element.elementor-element-0612c70 .elementor-heading-title{font-size:19px;}}/* Start custom CSS for form, class: .elementor-element-f14cdc3 *//*
* Personnalisation des div avec bg gouts
*/

.elementor-207 .elementor-element.elementor-element-f14cdc3 .o-input__title {
    background-size: cover;
    background-position: center;
    min-height: 262px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.elementor-207 .elementor-element.elementor-element-f14cdc3 .o-input__fraise {
    background-image: url("http://planty.local/wp-content/uploads/2024/09/jeremy-bezanger-0QgbyZdhX7k-unsplash-1.jpg");
}

.elementor-207 .elementor-element.elementor-element-f14cdc3 .o-input__pamplemousse {
    background-image: url("http://planty.local/wp-content/uploads/2024/09/estudio-bloom-tOitjphtIXU-unsplash-1.jpg");
}

.elementor-207 .elementor-element.elementor-element-f14cdc3 .o-input__framboise {
    background-image: url("http://planty.local/wp-content/uploads/2024/09/rodion-kutsaev-4k8xEFW4_3Q-unsplash-1.png");
}

.elementor-207 .elementor-element.elementor-element-f14cdc3 .o-input__citron {
    background-image: url("http://planty.local/wp-content/uploads/2024/09/estudio-bloom-ezqnxsqUZ80-unsplash-1.jpg");
}

.elementor-207 .elementor-element.elementor-element-f14cdc3 .o-input__title span {
  color: #FFFFFF;
  font-family: 'Syne', sans-serif;
  font-size: 48px;
  font-weight: 700;
  max-width: 100%;
}

/* Fin de Personnalisation des gouts */



/* Champ number */
.elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-field-type-number {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-field-type-number .elementor-field-label {
    display: none;
}

.elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-field-type-number input {
    max-width: 50px;
}


.elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-field-type-number input[type="number"]::-webkit-outer-spin-button,
.elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-field-type-number input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Fin champ number */



/* Formulaire champs ordre */

.elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(1) {
    order: 0;
}
    
.elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(2) {
  order: 1;
}

.elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(3) {
  order: 2;
}

.elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(4) {
  order: 3;
}

.elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(5) {
  order: 4;
}

.elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(6),
.elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(7),
.elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(8),
.elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(9) {
  order: 5;
}

.elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(10) {
  order: 6;
}
.elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(11) {
  order: 7;  
}
.elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(12) {
  order: 8; 
}
.elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(13) {
  order: 10;
}
.elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(14) {
  order: 12;  
}
.elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(15) {
  order: 9;  
}
.elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(16) {
  order: 11;  
}
.elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(17) {
  order: 13;  
}
.elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(18) {
  order: 14;  
}

/* Fin formulaire champs ordre */


/* Responsive */

@media screen and (max-width: 1366px) {
    .elementor-207 .elementor-element.elementor-element-f14cdc3 .o-input__title span {
        font-size: 36px;
    }
}

@media screen and (max-width: 1200px) {
    .elementor-207 .elementor-element.elementor-element-f14cdc3 .o-input__title span {
        font-size: 28px;
    }
}

@media screen and (max-width: 1024px) {
    .elementor-207 .elementor-element.elementor-element-f14cdc3 .o-input__title span {
        font-size: 42px;
    }
    
    .elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(1) {
      order: 0;
    }
    
    .elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(2) {
      order: 1;
    }
    
    .elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(3) {
      order: 4;
    }
    
    .elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(4) {
      order: 5;
    }
    
    .elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(5) {
      order: 2;
    }
    
    .elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(6) {
      order: 3;
    }
    
    .elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(7) {
      order: 6;
    }
    
    .elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(8) {
      order: 7;
    }

    .elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(9) {
        order: 8;
    }
    
    .elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(10) {
      order: 9;
    }
    .elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(11) {
      order: 9;  
    }
    .elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(12) {
      order: 10; 
    }
    .elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(13) {
      order: 12;
    }
    .elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(14) {
      order: 14;  
    }
    .elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(15) {
      order: 11;  
    }
    .elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(16) {
      order: 13;  
    }
    .elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(17) {
      order: 15;  
    }
    .elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(18) {
      order: 99;  
    }
}

@media screen and (max-width: 767px) {
    .elementor-207 .elementor-element.elementor-element-f14cdc3 .o-input__title span {
        font-size: 36px;
    }
    
    .elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(1) {
      order: 0;
    }
    
    .elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(2) {
      order: 2;
    }
    
    .elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(3) {
      order: 4;
    }
    
    .elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(4) {
      order: 6;
    }
    
    .elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(5) {
      order: 1;
    }
    
    .elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(6) {
      order: 3;
    }
    
    .elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(7) {
      order: 5;
    }
    
    .elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(8) {
      order: 7;
    }

    .elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(9) {
        order: 8;
    }
    
    .elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(10) {
      order: 9;
    }
    .elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(11) {
      order: 13;  
    }
    .elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(12) {
      order: 10;  
    }
    .elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(13) {
      order: 11;  
    }
    .elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(14) {
      order: 12;  
    }
    .elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(15) {
      order: 13;  
    }
    .elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(16) {
      order: 14;  
    }
    .elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(17) {
      order: 15;  
    }
    .elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(18) {
      order: 16;  
    }
    .elementor-207 .elementor-element.elementor-element-f14cdc3 .elementor-form-fields-wrapper .elementor-field-group:nth-child(19) {
      order: 17;
    }
}


/* Fin responsive *//* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-3a1e9b3 */.elementor-207 .elementor-element.elementor-element-3a1e9b3 {
    position: relative;
}

.elementor-207 .elementor-element.elementor-element-3a1e9b3:before,
.elementor-207 .elementor-element.elementor-element-3a1e9b3:after {
    content:'';
    background: #ffffff;
    z-index: 0;
}

.elementor-207 .elementor-element.elementor-element-3a1e9b3:before {
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 40%;
}

.elementor-207 .elementor-element.elementor-element-3a1e9b3:after {
    height: 474px;
    width: 1px;
    position: absolute;
    left: 50%;
    bottom: 100px;
    transform: translate(-50%, 0);
}

@media screen and  (max-width: 1024px) {
    .elementor-207 .elementor-element.elementor-element-3a1e9b3:before {
        display: none;
    }
}

@media screen and  (max-width: 767px) {
    .elementor-207 .elementor-element.elementor-element-3a1e9b3:after {
        display: none;
    }
}/* End custom CSS */